body {
    background-color:#0a0a0a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

}

.watch-live {
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.bracket {
    
    font-family: "League Spartan", sans-serif;
  
}

.bracket-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    margin-top:15px;
}
.bracket-header img {

    min-width: 100px;
    max-width: 250px;
    width: 60%;
}

.playoffs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}
.final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

.playoffs-final {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
}


.matchup {
    min-width: 300px;
    background-color: rgba(78, 78, 78, 0.07);
    text-align: center;
    margin: 0 20px;
    border-radius: 20px;
    border: 2px solid #3f3f3f;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    padding: 8px;
    
    
}

.matchup-final {
    
    background-color: rgba(78, 78, 78, 0.07);
    height: 200px;
    max-width: 500px;
    text-align: center;
    margin: 0 20px;
    border-radius: 20px;
    border: 2px solid #3f3f3f;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.won {
    color:#b6933f;
}

.final-team-1 {
    
    min-width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    
}
.final-team-2 {
    
    min-width:200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    
}



.west, .east {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.away-team {
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    min-height: 50px;
    
    
}

.divider {
    height: 2px;
    background-color: #3f3f3f ;
    width: 80%;
    margin: 2px auto;
}

.divider-fin {
    width: 2px;
    background-color:#6d6d6d ;
    height: 80%;
    margin: auto;
}

.home-team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;

    
}


.round-heading {
    color: rgb(202, 200, 200);
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    
}

.time {
    color: rgb(202, 200, 200);
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 5px; 
    margin-bottom: 0;  
    font-weight: 500;
    
}
.team-name {
    font-weight: bold;
    text-transform:uppercase;
}

.seeding {
    color: rgb(185, 185, 185);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin:2px auto;
    
}



.full-width {
    font-size: 18px;
    padding: 0;
    font-weight: 500;
    margin: auto;
}

.mid-width {
    font-size: 18px;
    padding: 0;
    margin: auto;
}



.lost  p {
    color:#6d6d6d;
}

.lost img {
    opacity: 30%;
}
.score {
    font-size: 32px;
    font-weight: 600;
    color: #e0e0e0;
    min-width: 75px;
    margin: 0;
    padding:0;
}

.hide-score {
    display: none;
}



.pre-game {
    display: none;
}

.game-link {
    color: #fff;
    text-decoration: none;
    cursor: cursor;
}

.matchup:hover {
    border: 2px solid #585858;
    
}
.matchup-final:hover {
    border: 2px solid #585858;
    
}

.team-icon {
    height:30px;
        max-width: 50px;
    padding: 10px;
    margin: auto;
}



.advance-arrows {
    display: flex;
    justify-content: space-around;
}


.no-click {
    pointer-events: none;
}

.trophy {
    border: 1 solid #3f3f3f;
    width:100px;
    height:100%;
    
}







@media screen and (max-width: 4000px) {
    .full-width {
        display: none;
        

    }
    .matchup{
        min-width: 180px;
        padding: 4px;
    }

    .team-icon {
        height: 30px;
        max-width: 40px;
        padding: 10px;
        margin: auto;
    }

    .score {
        font-size:20px;
        font-weight: 600;
        color: #e0e0e0;
        min-width: 75px;
    }
    .away-team {
        min-height: 60px;
    }

    .final-team-1,.final-team-2 {
        min-width: 100px;
    }

    .matchup-final {
        height: auto;
    }


}
@media screen and (min-width: 4000px) {
    .mid-width {
        display: none;
    }
    
}



@media screen and (max-width: 500px) {
    .mid-width {
        display: none;

    }

    .seeding {
        display: none;
    }
    .away-team {
        min-height: 50px;
    }
    .away-team {
        justify-content: center;
    }
    .final-team-1,.final-team-2 {
        min-width:50px;
    }

    .matchup{
        min-width: 150px;
    }
}
